[etce]
#DEFAULT_ETCE_HOSTNAME_FORMAT=node-${'%03d' % etce_index}
#ENV_OVERLAYS_ALLOW=
#LOCK_FILE_DIRECTORY=/run/lock
#SSH_USER=
#SSH_PORT=22
#TEMPLATE_DIRECTORY_SUFFIX=tpl
#WORK_DIRECTORY=/tmp/etce
#WRAPPER_PATH=/opt/etcewrappers

[overlays]
emane_ota_device=ota0
emane_eventservice_device=ctl0
