##################################################
#
# ETCE exposes a handful of configuration parameters
# for customization. /etc/etce/etce.conf is the
# default file location. Users may override the
# etce.conf directory location by setting the
# EMANECONFIGDIR environment variable.
#
# The values shown here are the configuration value
# defaults.
#
# ETCE configuration values are placed in the "etce"
# section. The "overlays" section is used to specify
# site specific values that will be can be
# substituted for test file template variables. 
#
##################################################

[etce]
##################################################
#
# ETCE uses the WORK_DIRECTORY as the destination
# of most of the files it generates. It organizes
# files into these subdirectories:
#
#   current_test:
#      The configuration files of current running
#      test
#
#    data:
#      The output directory for artifacts
#      collected from the current test.
#
#    lock:
#      Lock files created by Wrappers to keep
#      track of the PID number of a currently
#      running wrapped application instance.
#
#    lxcroot:
#      The etce-lxc application writes LXC
#      configuration files here.
#
##################################################
#WORK_DIRECTORY=/tmp/etce


##################################################
#
# The Test Directory test.xml file may, optionally,
# reference template directories that
# are used to generate repeated test directory
# subdirectories against a list of numeric
# indices. By default, subdirectories generated
# from a template directory are named by taking
# the template directory name, dropping the
# mandatory '.tpl' suffix and adding a '-' and numeric
# suffix TEMPLATE_HOSTNUMBER_DIGITS wide and
# filled in with the corresponding index number.
# This built-in subdirectory name format may
# be overridden by the 'hostname_format' attribute
# of the directory element in the test.xml file.
# 
# When generating configuration files from templates,
# ETCE relies on overlay template values specified
# in the overlays section (below) and in the Test
# Directory test.xml file. ETCE also permits overlay
# values to be specified by environment variables.
# Use ENV_OVERLAYS_ALLOW to name template variable
# names that ETCE will accept from environment
# variables.
#
# ETCE Wrappers that launch applications
# requiring elevated privilege can ask ETCE to run
# requested commands with sudo. This mechanism is
# aimed at creating a non-root user that
# can run emulations - still under investigation.
# Set IGNORE_RUN_WITH_SUDO=yes (the default) to
# globally ignore wrapper sudo requests.
#
##################################################
#TEMPLATE_HOSTNUMBER_DIGITS=3
#ENV_OVERLAYS_ALLOW=
#IGNORE_RUN_WITH_SUDO=yes


[overlays]
##################################################
#
# Use the overlays section to specify configuration
# file values that tend to be the same across tests
# but differ on a site by site basis. Network interface
# names are a typical example.
#
##################################################
emane_ota_device=ota0
emane_eventservice_device=ctl0
