Source: python-etce
Section: unknown
Priority: extra
Maintainer: Adjacent Link LLC <labs@adjacentlink.com>
Build-Depends: debhelper (>= 8.0.0), dh-python
Standards-Version: 3.9.3
Homepage: https://github.com/adjacentlink/python-etce

Package: python3-etce
Section: python
Architecture: all
Conflicts: python-etce
Depends: ${python3:Depends}, ${misc:Depends}
Description: Extendable Test Control Environment
