#!/usr/bin/make -f
# -*- makefile -*-
export DH_OPTIONS

PYTHON3_DEPENDS = -Vpython3:Depends="python3:any (>= 3.0), python3, python3-mako, python3-paramiko, python3-lxml, lxc"
PYTHON_DEPENDS = -Vpython:Depends="python:any (<< 2.8), python:any (>= 2.7), python, python-mako, python-paramiko, python-lxml, lxc"

override_dh_auto_install:
	dh_auto_install -- PYTHON=python3
	dh_auto_install -- PYTHON=python2

override_dh_gencontrol:
	dh_gencontrol -- $(PYTHON_DEPENDS) $(PYTHON3_DEPENDS)

%:
	dh $@ --with python2,python3
